@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Source Sans 3";
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

header {
  background-image: url("../img/hero-back.png");
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}
header nav .container {
  padding: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
header nav .container .navbar-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 50px;
}
header nav .container .navbar-nav .links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  gap: 30px;
}
header nav .container .navbar-nav .links a {
  color: white;
  text-decoration: none;
}
header nav .container button {
  padding: 8px 15px;
  background-color: white;
  border-radius: 50px;
  font-size: 16px;
  font-weight: 600;
  color: #101828;
}
header .hero .container {
  padding-bottom: 250px;
  padding-top: 60px;
}
header .hero .container h1 {
  font-size: 60px;
  padding-top: 100px;
  line-height: 60px;
  font-weight: 400;
  color: white;
  letter-spacing: 3%;
  padding-bottom: 20px;
  width: 500px;
}
header .hero .container p {
  font-size: 16px;
  font-weight: 600;
  line-height: 26px;
  color: white;
  padding-bottom: 30px;
  width: 500px;
}
header .hero .container button {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 50px;
  display: flex;
  padding: 15px 20px;
  align-items: center;
}
header .hero .container button p {
  width: 100px;
  font-weight: 600;
  font-size: 18px;
  padding: 0;
}

.section1 .container {
  padding-top: 50px;
}
.section1 .container .sct-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.section1 .container .sct-title h1 {
  font-size: 35px;
  font-weight: 500;
}
.section1 .container .hr {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
}
.section1 .container .products {
  width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #dfdfdf;
  padding: 20px;
}
.section1 .container .products .product-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 30px;
}
.section1 .container .products .product-title h1 {
  font-size: 35px;
  font-weight: 600;
}
.section1 .container .products .product-title .search {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  border-radius: 50px;
  padding: 10px;
  gap: 10px;
}
.section1 .container .products .product-title .search input {
  border: none;
  font-size: 18px;
  background-color: transparent;
}
.section1 .container .products .products-nav {
  padding-top: 50px;
}
.section1 .container .products .products-nav .links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  list-style: none;
}
.section1 .container .products .products-nav .links li:nth-child(1) {
  padding: 10px 15px;
  background-color: #000;
  border-radius: 8px;
}
.section1 .container .products .products-nav .links li:nth-child(1) a {
  color: white;
}
.section1 .container .products .products-nav .links a {
  text-decoration: none;
  font-size: 20px;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.6980392157);
}
.section1 .container .products .sct1-block {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 50px;
  padding-bottom: 30px;
}
.section1 .container .products .sct1-block .sct1-box img {
  width: 100%;
}
.section1 .container .products .more {
  display: flex;
  justify-content: end;
}
.section1 .container .products .more h2 {
  font-size: 20px;
  font-weight: 600;
}

.section2 .container {
  padding-top: 100px;
}
.section2 .container .sct-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 10px;
}
.section2 .container .sct-title h1 {
  font-size: 35px;
  font-weight: 500;
}
.section2 .container .hr {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
}
.section2 .container .sct2-block {
  display: flex;
  padding: 20px;
  justify-content: center;
  width: 1100px;
  margin: 0 auto;
  margin-top: 50px;
  border: 1px solid #dfdfdf;
  gap: 15px;
}
.section2 .container .sct2-block .left {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.section2 .container .sct2-block .left .box {
  width: 330px;
  height: 330px;
  display: flex;
  justify-content: center;
  align-items: bottom;
}
.section2 .container .sct2-block .left .box:nth-child(1) {
  background-image: url(../img/back1.png);
  align-items: center;
  border-radius: 12px;
}
.section2 .container .sct2-block .left .box:nth-child(1) h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.section2 .container .sct2-block .left .box:nth-child(2) {
  background-image: url(../img/back2.png);
  align-items: center;
  border-radius: 12px;
}
.section2 .container .sct2-block .left .box:nth-child(2) h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.section2 .container .sct2-block .left .box:nth-child(3) {
  background-image: url(../img/back3.png);
  align-items: center;
  border-radius: 12px;
}
.section2 .container .sct2-block .left .box:nth-child(3) h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.section2 .container .sct2-block .left .box:nth-child(4) {
  background-image: url(../img/back4.png);
  align-items: center;
  border-radius: 12px;
}
.section2 .container .sct2-block .left .box:nth-child(4) h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
}
.section2 .container .sct2-block .right .box {
  border-radius: 12px;
  background-image: url("../img/back5.png");
  display: flex;
  align-items: center;
  justify-content: center;
  width: 368px;
  height: 675px;
}
.section2 .container .sct2-block .right .box h1 {
  color: white;
  font-size: 50px;
  font-weight: 700;
}

.section3 .container {
  padding-top: 80px;
}
.section3 .container .sct-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.section3 .container .sct-title h1 {
  font-size: 35px;
  font-weight: 500;
}
.section3 .container .hr {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
  margin-bottom: 40px;
}
.section3 .container .sct3-block {
  border: 1px solid #dfdfdf;
  padding: 20px 40px;
  width: 1100px;
  margin: 0 auto;
}
.section3 .container .sct3-block .sct3-box {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 30px;
  gap: 4px;
}
.section3 .container .sct3-block .sct3-box .box-text p {
  padding-bottom: 5px;
  font-size: 18px;
  color: #101828;
  font-weight: 400;
}

.section4 .container {
  padding-top: 80px;
}
.section4 .container .sct-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.section4 .container .sct-title h1 {
  font-size: 35px;
  font-weight: 500;
}
.section4 .container .hr {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
  margin-bottom: 40px;
}
.section4 .container .sct4-block {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.section4 .container .sct4-block .sct4-box h2 {
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
}
.section4 .container .sct4-block .sct4-box p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #878b93;
  padding-bottom: 15px;
}
.section4 .container .sct4-block .sct4-box .socials {
  color: #98A2B3;
  font-size: 24px;
  display: flex;
  gap: 20px;
}

.section5 .container {
  padding-top: 80px;
  padding-bottom: 80px;
}
.section5 .container .sct-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.section5 .container .sct-title h1 {
  font-size: 35px;
  font-weight: 500;
}
.section5 .container .hr {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
  margin-bottom: 40px;
}
.section5 .container .sct5-box {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.section5 .container .sct5-box h1 {
  font-size: 36px;
  font-weight: 600;
  line-height: 44px;
  padding-bottom: 40px;
  border-bottom: 1px solid #EAECF0;
  margin-bottom: 50px;
}
.section5 .container .sct5-box p {
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  color: #667085;
}
.section5 .container .sct5-box p:nth-child(2) {
  padding-bottom: 30px;
}
.section5 .container .sct5-box p:nth-child(4) {
  padding-bottom: 30px;
}
.section5 .container .sct5-box h2 {
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
  padding-bottom: 30px;
}
.section5 .container .sct5-box button {
  padding: 10px 20px;
  border: 1px solid;
  color: white;
  border-radius: 8px;
  background: linear-gradient(88.9deg, #243961 -2.52%, #101828 99.06%);
}
.section5 .container .sct5-box .box-img {
  width: 100%;
}
.section6 {
  background-color: #101828;
}
.section6 .container .sct-title {
  display: flex;
  align-items: center;
  gap: 10px;
  padding-bottom: 20px;
}
.section6 .container .sct-title h1 {
  font-size: 35px;
  font-weight: 500;
}
.section6 .container .hr {
  height: 1px;
  width: 100%;
  background-color: #dfdfdf;
}
.section6 .container .sct6-block {
  display: flex;
  align-items: center;
  gap: 40px;
  padding-top: 50px;
}
.section6 .container .sct6-block .form {
  background-color: white;
  border-radius: 16px;
  padding: 40px;
}
.section6 .container .sct6-block .form .name {
  padding-bottom: 20px;
  display: flex;
  justify-content: space-between;
}
.section6 .container .sct6-block .form .name .fname, .section6 .container .sct6-block .form .name .lname {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section6 .container .sct6-block .form .name .fname input, .section6 .container .sct6-block .form .name .lname input {
  padding: 10px;
  border-radius: 5px;
  border: #d0d5dd 1px solid;
}
.section6 .container .sct6-block .form .email {
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.section6 .container .sct6-block .form .email input {
  padding: 10px;
  border-radius: 5px;
  border: #d0d5dd 1px solid;
}
.section6 .container .sct6-block .form .message {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding-bottom: 20px;
}
.section6 .container .sct6-block .form .message textarea {
  padding: 10px;
  border-radius: 5px;
  border: #d0d5dd 1px solid;
}
.section6 .container .sct6-block .form .chek label {
  color: #667085;
}
.section6 .container .sct6-block .form button {
  background: linear-gradient(86.93deg, #101828 0.18%, #233250 99.39%);
  color: white;
  padding: 20px;
  width: 100%;
  border: none;
  border-radius: 16px;
}
.section6 .container .sct6-block .contact {
  display: flex;
  justify-content: center;
  align-items: center;
}/*# sourceMappingURL=style.css.map */