
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');


@mixin flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3';
}
.container{
    max-width: 1200px;
    margin: 0 auto;
}
header{
    background-image: url('../img/hero-back.png');
    background-size: 100%;
    background-position: center;
    background-repeat: no-repeat;
    nav{
        .container{
            padding: 20px 0;
            @include flex();
            .navbar-nav{
                @include flex();
                gap: 50px;
                .links{
                    @include flex();
                    list-style: none;
                    gap: 30px;
                    a{
                        color: white;
                        text-decoration: none;
                    }
                }
            }
            button{
                padding: 8px 15px;
                background-color: white;
                border-radius: 50px;
                font-size: 16px;
                font-weight: 600;
                color: #101828;
            }
        }
    }
    .hero{
        .container{
            padding-bottom: 250px;
            padding-top: 60px;
            h1{
                font-size: 60px;
                padding-top: 100px;
                line-height: 60px;
                font-weight: 400;
                color: white;
                letter-spacing: 3%;
                padding-bottom: 20px;
                width: 500px;
            }
            p{
                font-size: 16px;
                font-weight: 600;
                line-height: 26px;
                color: white;
                padding-bottom: 30px;
                width: 500px;
            }
            button{
                background-color: transparent;
                border: 1px solid white;
                border-radius: 50px;
                display: flex;
                padding: 15px 20px;
                align-items: center;
                p{
                    width: 100px;
                    font-weight: 600;
                    font-size: 18px;
                    padding: 0;
                }
            }
        }
    }
}

.section1 {
    .container{
        padding-top: 50px;
        .sct-title{
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 20px;
            h1{
                font-size: 35px;
                font-weight: 500;
            }
        }
        .hr{
            height: 1px;
            width: 100%;
            background-color: #dfdfdf;
        }
        .products{
            width: 1100px;
            margin: 0 auto;
            margin-top: 50px;
            border: 1px solid #dfdfdf;
            padding: 20px;
            .product-title{
                @include flex();
                padding-top: 30px;
                h1{
                    font-size: 35px;
                    font-weight: 600;
                }
                .search{
                    @include flex();
                    background-color: #f4f4f4;
                    border-radius: 50px;
                    padding: 10px;
                    gap: 10px;
                    
                    input{
                        border: none;
                        font-size: 18px;
                        background-color: transparent;
                    }
                }
            }
            .products-nav{
                padding-top: 50px;
                .links{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    gap: 50px;
                    list-style: none;
                    li:nth-child(1){
                        padding: 10px 15px;
                        background-color: #000;
                        border-radius: 8px;

                        a{
                            color: white;
                        }
                    }

                    a{
                        text-decoration: none;
                        font-size: 20px;
                        font-weight: 600;
                        color: #000000B2;
                    }
                }
            }
            .sct1-block{
                display: flex;
                justify-content: center;
                gap: 20px;
                padding-top: 50px;
                padding-bottom: 30px;
                .sct1-box{
                    img{
                        width: 100%;
                    }
                }
            }
            .more{
                display: flex;
                justify-content: end;
                h2{
                    font-size: 20px;
                    font-weight: 600;
                }
            }
        }
    }
}

.section2{
    .container{
        padding-top: 100px;
        .sct-title{
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 10px;
            h1{
                font-size: 35px;
                font-weight: 500;
            }
        }
        .hr{
            height: 1px;
            width: 100%;
            background-color: #dfdfdf;
        }
        .sct2-block{
            display: flex;
            padding: 20px;
            justify-content: center;
            width: 1100px;
            margin: 0 auto;
            margin-top: 50px;
            border: 1px solid #dfdfdf;
            gap: 15px;
            .left{
                display: flex;
                flex-wrap: wrap;
                gap: 15px;
                
                .box{
                    &:nth-child(1){
                        background-image: url(../img/back1.png);
                        align-items: center;
                    border-radius: 12px;
                        h1{
                            color: white;
                            font-size: 50px;
                            font-weight: 700;
                        }

                    }
                    &:nth-child(2){
                        background-image: url(../img/back2.png);
                        align-items: center;
                    border-radius: 12px;
                        h1{
                            color: white;
                            font-size: 50px;
                            font-weight: 700;
                        }

                    }
                    &:nth-child(3){
                        background-image: url(../img/back3.png);
                        align-items: center;
                    border-radius: 12px;
                        h1{
                            color: white;
                            font-size: 50px;
                            font-weight: 700;
                        }

                    }
                    &:nth-child(4){
                        background-image: url(../img/back4.png);
                        align-items: center;
                    border-radius: 12px;
                        h1{
                            color: white;
                            font-size: 50px;
                            font-weight: 700;
                        }

                    }
                    width: 330px;
                    height: 330px;
                    display: flex;
                    justify-content: center;
                    align-items: bottom;
                }

            }
            .right{
                .box{
                    border-radius: 12px;
                    background-image: url('../img/back5.png');
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 368px;
                    height: 675px;
                    h1{
                        color: white;
                        font-size: 50px;
                        font-weight: 700;
                    }
                }
            }
        }
    }
}

.section3{
    .container{
        padding-top: 80px;  
        .sct-title{
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 20px;
            h1{
                font-size: 35px;
                font-weight: 500;
            }
        }
        .hr{
            height: 1px;
            width: 100%;
            background-color: #dfdfdf;
            margin-bottom: 40px;
        }
        .sct3-block{
            border: 1px solid #dfdfdf;
            padding: 20px 40px;
            width: 1100px;
            margin: 0 auto;
            .sct3-box{
                display: flex;
                justify-content: center;
                align-items: center;    
                padding-top: 30px;
                gap: 4px;
                .box-text{
                    p{
                        padding-bottom: 5px;
                        font-size: 18px;
                        color: #101828;
                        font-weight: 400;
                    }
                }
            }
        }
    }
}

.section4{
    .container{
        padding-top: 80px;
        
        .sct-title{
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 20px;
            h1{
                font-size: 35px;
                font-weight: 500;
            }
        }
        .hr{
            height: 1px;
            width: 100%;
            background-color: #dfdfdf;
            margin-bottom: 40px;
        }
        .sct4-block{
            display: flex;
            justify-content: center;
            gap: 20px;
            .sct4-box{
                h2{
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                }
                p{
                    font-size: 18px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #878b93;
                    padding-bottom: 15px;
                }
                .socials{
                    color: #98A2B3;
                    font-size: 24px;
                    display: flex;
                    gap: 20px;
                }
            }
        }
    }
}
.section5{
    .container{
        padding-top: 80px;
        padding-bottom: 80px;
        .sct-title{
            display: flex;
            align-items: center;
            gap: 10px;
            padding-bottom: 20px;
            h1{
                font-size: 35px;
                font-weight: 500;
            }
        }
        .hr{
            height: 1px;
            width: 100%;
            background-color: #dfdfdf;
            margin-bottom: 40px;
        }
        .sct5-box{
            display: flex;
            // align-items: center;
            justify-content: center;
            gap: 20px;
            h1{
                font-size: 36px;
                font-weight: 600;
                line-height: 44px;
                padding-bottom: 40px;
                border-bottom: 1px solid #EAECF0;
                margin-bottom: 50px;
            }
            p{
                font-size: 18px;
                font-weight: 400;
                line-height: 28px;
                color: #667085;
                &:nth-child(2){
                    padding-bottom: 30px;
                }
                &:nth-child(4){
                    padding-bottom: 30px;
                }
            }
            h2{
                font-size: 24px;
                font-weight: 600;
                line-height: 32px;
                padding-bottom: 30px;
            }
            button{
                padding: 10px 20px;
                border: 1px solid;
                color: white;
                border-radius: 8px;
                background: linear-gradient(88.9deg, #243961 -2.52%, #101828 99.06%);


            }
            .box-img{
                width: 100%;
                img{
                    // width: 100%;
                }
            }
        }
    }
}

.section6{
    background-color: #101828;
    .container{
        .sct-title{
            display: flex;
            padding-top: 80px;
            align-items: center;
            gap: 10px;
            padding-bottom: 20px;
            h1{
                color: white;
                font-size: 35px;
                font-weight: 500;
            }
    }
    .hr{
        height: 1px;
        width: 100%;
        background-color: #4c525e;
    }
    .sct6-block{
        display: flex;
        padding: 30px;
        align-items: center;
        gap: 40px;
        padding-top: 50px;
        .form{
            background-color: white;
            border-radius: 16px;
            padding: 40px;
            label{
                font-size: 14px;
                font-weight: 600;
                color: #344054;
            }

            .name{
                padding-bottom: 20px;
                display: flex;
                justify-content: space-between;
                gap: 30px;
                .fname, .lname{
                    display: flex;
                    flex-direction: column;
                    gap: 5px;
                    input{
                        padding: 10px;
                        border-radius: 5px;
                        border: #d0d5dd 1px solid;
                    }
                }
                
            }
            .email{
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-bottom: 20px;
                input{
                    padding: 10px;
                    border-radius: 5px;
                    border: #d0d5dd 1px solid;
                }
            }
            .message{
                display: flex;
                flex-direction: column;
                gap: 5px;
                padding-bottom: 20px;
                textarea{
                    padding: 10px;
                    border-radius: 5px;
                    border: #d0d5dd 1px solid;
                }
            }
            .chek{
                padding-bottom: 30px;
                span{
                    text-decoration: underline;
                }
                label{
                    color: #667085;
                }
            }
            button{
                background: linear-gradient(86.93deg, #101828 0.18%, #233250 99.39%);
                color: white;
                padding: 20px;
                width: 100%;
                border: none;
                border-radius: 16px;
            }
        }
        .contact{
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            width: 600px;
            gap: 60px;
            
            .box{
                color: white;
                width: 250px;
                .box-img{
                    margin-bottom: 10px;
                }
                h2{
                    margin-bottom: 10px;
                    font-size: 20px;
                    font-weight: 600;
                    line-height: 30px;
                }
                p{
                    font-size: 16px;
                    font-weight: 400;
                    color: #CECECE;
                    padding-bottom: 10px;
                }
            }
        }
    }
}
}
footer{
    background-color: #101828;
    border-top: 1px solid #4c525e;
    .container{
        padding-top: 50px;
        .subscribe{
            display: flex;
            justify-content: space-between;
            padding-bottom: 40px;
            .subs-text{
                color: white;
                h2{
                    font-size: 20px;
                    font-weight: 500;
                }
                p{
                    font-size: 20px;
                    color: #CECECE;
                }
            }
            .subs-button{
                display: flex;
                align-items: center;
                gap: 10px;
                input{
                    padding: 8px 10px;
                    border-radius: 8px;
                    background-color: #DEDEDE;
                    border: none;
                    &::placeholder{
                        color: #667085;
                    }
                }
                button{
                    padding: 5px 10px;
                    border-radius: 8px;
                    font-size: 16px;
                    border: none;
                    font-weight: 600;
                }
            }
        }
        .footer-links{
            padding-top: 50px;
            display: flex;
            color: white;
            justify-content: center;
            gap: 80px;
            .foot-logo{
                p{
                    width: 280px;
                }
                img{
                    margin-bottom: 30px;
                }
            }
            .foot-links{
                display: flex;
                 justify-content: space-between;
                 gap: 100px;
                 p{
                    font-size: 16px;
                    font-weight: 600;
                    padding-bottom: 15px;
                    color: #CECECE;
                    &:first-child{
                        font-size: 16px;
                        font-weight: 700;
                        color: white;
                    }
                 }

            }
        }
        .hr{
            height: 1px;
            width: 100%;
            background-color: #dfdfdf;
        }
        .footer-foot{
            padding: 30px 0;
            display: flex;
            justify-content: space-between;
            .copy{
                p{
                    font-size: 16px;
                    font-weight: 600;
                    color: #CECECE;
                }
            }
            .socials{
                display: flex;
                justify-content: center;
                gap: 20px;
                color: #CECECE;
                font-size: 22px;
            }
        }
    }
}